<a href="https://colab.research.google.com/github/Gabriel-Kwasinski/repositorio_publico/blob/main/Gabriel_Sa_Earp_2211325_Lista3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [330]:
import pandas as pd
import os

In [331]:
data = pd.read_csv("/content/class_titanic.csv")

In [332]:
#Escolha uma coluna com valores numéricos e apague todas as linhas que possuam valor nulo
data["Age"].dropna(inplace = True)

In [333]:
#Calcule a média desta mesma coluna
average_age = data["Age"].mean()
print(average_age)

29.69911764705882

In [334]:
#Escolha um critério para eliminar as linhas que possuam valores muito distantes da média e crie um novo Dataframe.
#Critério: idades com uma diferença de mais de dez anos da idade média
data = data.loc[(data['Age'] > (average_age - 10)) & (data['Age'] < (average_age + 10))]

In [335]:
#Crie um novo Dataframe que contenha apenas 5 colunas do conjunto anterior.
new = data
new.reset_index(inplace=True)
new = new.loc[0:4, :]

In [336]:
#Escolha duas colunas numéricas e crie uma nova coluna que siga a regra:
#(Coluna A - Coluna B)*número aleatório (entre 0 e 1).

import random
random_n = random.randrange(0,10)
random_n = random_n/10

def criteria(row):
  return (row["Age"] + row["Survived"])*random_n

new['NewColumn'] = new.apply(lambda row: criteria(row), axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [337]:
#Embaralhe aleatoriamente o dataframe (índices e valores).
new = new.sample(frac = 1, random_state = 1).reset_index
display(new)

<bound method DataFrame.reset_index of    index  PassengerId  Pclass  ... Embarked Survived  NewColumn
2      2            3       3  ...        S        1        2.7
1      1            2       1  ...        C        1        3.9
4      4            5       3  ...        S        0        3.5
0      0            1       3  ...        S        0        2.2
3      3            4       1  ...        S        1        3.6

[5 rows x 14 columns]>

In [328]:
#Escolha uma coluna numérica e um coluna com strings e utilize a função Groupby para mostrar os totais da  coluna.
grouped_data = new.groupby("Embarked")["Survived"].count()

AttributeError: ignored

In [327]:
#Utilize a função MAPS para fazer algum tipo de substituição no Dataframe (explique)

def replace_newcolumn(x):
  return x*10

new['NewColumn'] = new['NewColumn'].map(lambda x: replace_newcolumn(x))

TypeError: ignored

In [338]:
#df.to_csv('file_name.csv')
new.to_csv('new_dataframe.csv')

AttributeError: ignored